.fieldset {
    border: 1px solid black;
    padding: 1em;
}

.legend {
    width: auto;
    padding: 0.5em;
}

.university-select {
    border: 1px solid red;
}

.university-select + span :global(.select2-selection__choice) {
    color: white;
    background-color: #007bff !important;
    border-color: #007bff !important;
    padding-bottom: 3px !important;
    padding-left: 7px !important;
}

.university-select + span :global(.select2-selection__choice__remove) {
    color: #212529 !important;
    padding-right: 2px;
}
