<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Login</title>  
    <link rel="stylesheet" type="text/css" href="Login.css"/>  
</head>  
<body> 
    <img src="e:\pagetest\ExchangeApproval\client\assets\uwa-logo.svg" width="400px"; height="200px"; style="position:absolute; left:37.5%; top:7%">
    <div id="login">  
        <h1>Login</h1>  
        <form method="post">  
            <input type="text"  placeholder="User Name" name="u"></input>  
            <input type="password"  placeholder="Password" name="p"></input>  
            <button class="but" type="submit">login</button>  
        </form>  
    </div>  
</body>  
</html> 